* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: rgb(10, 72, 120);
  color: white;
  margin: 0;
  padding: 5px;
  text-align: center;
  line-height: 0.5rem;
}

.username {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 23, 23);
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: rgb(225, 212, 212);
  padding: 10px;
  border-radius: 60px;
  text-transform: capitalize;
  cursor: pointer;
}

.username > p {
  margin: 0;
}

.login-box {
  text-align: center;
  display: grid;
  gap: 5px;
  background-color: aliceblue;
  margin: 10%;
  padding: 5%;
}

.login-box > form {
  background-color: rgb(232, 237, 237);
  border-radius: 5px;
}

.login-box > form > div > input {
  display: block;
  margin: 10px auto;
  width: 70%;
}

.department-list > ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.department-list > ul > a > li {
  margin: 3px;
  border: 3px inset black;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.department-list > ul > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-shadow: 1px 1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff,
    -1px -1px #ffffff;
}

.homepage-produce {
  background-color: rgb(27, 231, 68);
}
.homepage-bakery {
  background-color: rgb(200, 231, 27);
}
.homepage-dairy {
  background-color: rgb(68, 102, 213);
}
.homepage-meats {
  background-color: rgb(231, 68, 27);
}
.homepage-grocery {
  background-color: rgb(153, 27, 231);
}
.homepage-alcohol {
  background-color: rgb(228, 162, 19);
}

.produce-list {
  display: grid;
}

@media (min-width:600px) {
  .produce-list {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width:900px) {
  .produce-list {
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width:1100px) {
  .produce-list {
    grid-template-columns: repeat(4, auto);
  }
}

.produce-item {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  border: 1px solid black;
  margin: 3px;
  padding: 10px;
  line-height: 0rem;
}

.produce-picture {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  border: 3px inset rgb(0, 0, 0);
}

.produce-name {
  grid-column: 1/3;
  grid-row: 1/2;
}

.produce-price {
  grid-column: 1/2;
  grid-row: 3/4;
}

.produce-offer {
  grid-column: 2/3;
  grid-row: 3/4;
}

.produce-origin {
  grid-column: 1/2;
  grid-row: 4/5;
}

.produce-quantity {
  grid-column: 2/3;
  grid-row: 4/5;
}

.produce-stock_level {
  grid-column: 1/3;
  grid-row: 5/6;
}

.produce-update {
  grid-column: 1/3;
  grid-row: 8/9;
}

.produce-delete {
  grid-column: 1/3;
  grid-row: 9/10;
}

.produce-update > input,
.produce-delete > input {
  width: 100%;
  background-color: bisque;
  cursor: pointer;
}

